@font-face {
  font-family: Cascadia-Code;
  src: url("../public/CascadiaCode-ExtraLight.otf");
}
* {
  margin: 0;
  padding: 0;
  background-color: rgb(20, 21, 26);
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100vh;
  overflow: hidden;
}

/*-----------------------------------------------------*/
.scroll {
  overflow-y: auto;
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 100vh 100vh 100vh;
  scroll-snap-type: y mandatory;
}

.scroll::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

.scroll::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0); /* color of the tracking area */
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgb(21, 50, 77); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid rgb(0, 225, 255); /* creates padding around scroll thumb */
}

/*-----------------------------------------------------*/
.RightColumn {
  grid-column: 2/3;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  scroll-snap-align: center;
}
.First {
  height: 100vh;
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}
.Second {
  height: 100vh;
  width: 100%;
  grid-column: 1/2;
  grid-row: 2/3;
}
.card-presentation {
  width: 50vw;
  height: 65vh;
  padding: 40px;
  margin-right: 5vw;
  border: 3px solid rgb(58, 216, 255);
  box-shadow: 0px 0px 10px 0px rgb(58, 216, 255);
  border-radius: 20px;
  color: #fff;

  display: flex;
  align-items: center;
}
.card-presentation div {
  max-height: 100%;
  overflow-y: auto;
}

.card-presentation div::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

.card-presentation div::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0); /* color of the tracking area */
}

.card-presentation div::-webkit-scrollbar-thumb {
  background-color: rgb(21, 50, 77); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid rgb(0, 225, 255); /* creates padding around scroll thumb */
}

.card-presentation div h1 {
  font-family: Cascadia-Code;
  font-weight: 100;
  font-size: 5vh;
  margin-bottom: 2%;
}
.card-presentation div h3 {
  font-family: Cascadia-Code;
  font-weight: 100;
  font-size: 2.5vh;
  margin-bottom: 10%;
}
.card-presentation div p {
  font-family: Cascadia-Code;
  font-weight: 100;
  text-wrap: balance;
  font-size: 2.3vh;
  /* letter-spacing: -0.8px; */
  max-width: 95%;
}
.card-presentation div p:nth-child(3) {
  margin-bottom: 7%;
}

.cat-gif {
  align-self: flex-end;
}
/*-----------------------------------------------------*/
.Proyect-cards {
  position: relative;
  width: 50vw;
  height: 100vh;
  margin-right: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid #ffffff00;

  gap: 3%;
}
.NucleoRed1 {
  position: absolute;
  width: 10.5vh;
  background-color: transparent;
  left: -40px;
  top: 21vh;
}
.NucleoRed2 {
  position: absolute;
  width: 10.5vh;
  background-color: transparent;
  left: -40px;
  bottom: 20vh;
}
.Card {
  height: 45vh;
  width: fit-content;
}
